body {
    background-image: url(https://preview.redd.it/m0zhfbiq61v21.png?width=1080&crop=smart&auto=webp&s=3371c9c68bca464e4939fed3cb4a8b3c32ef5cf6), url(https://cows.info.gf:89/mirror/REDDIT/bicyok/0.webp);
}

main {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    max-width: 50%;
}

h1 {
    background-color: black;
    color: red;
}

table, ul, ol {
    display: inline-block;
}

th {
    background-color: black;
    color: white;
}

table, tr, td, th {
    border: 1px solid;
}

code {
    font-family: 'Fira Code', 'DejaVu Sans Mono', 'Cascadia Code', 'Ubuntu';
    background-color: black;
    color: lightgreen;
}
